{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Todo List{% endblock%}</title>
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet'>

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'todo_home' %}">📋 Todo List</a>

            <div class="d-flex align-items-center ms-auto">
                {% if request.user.is_authenticated %}
                <span class="fw-bold me-3">{{ request.user.username }}</span>
                <form action="{%  url 'cbv_logout' %}" method="POST" style="display: inline">
                    {% csrf_token %}
                    <button class="btn btn-outline-success me-2" type="submit">로그아웃</button>
                </form>

            {% else %}
             <a href ="{% url 'cbv_signup' %}"><button class="btn btn-outline-success me-2" type="button">회원가입</button></a>
             <a href="{%  url 'cbv_login' %}"><button class="btn btn-outline-success me-2">로그인</button></a>
            {% endif %}
            </div>
        </div>
    </nav>
    <script src="{% static "js/bootstrap.bundle.js" %}"></script>
    {% block content %}{% endblock %}
</body>
</html>