<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Todo List{% endblock%}</title>
</head>
<body>
    <nav>
        <div style="justify-content: space-between">
            {% if request.user.is_authenticated %}
                <a href="{% url 'todo_list' %}">홈</a>
            {% else %}
                <a href="{% url 'login' %}" onclick="alert('로그인 후 이용 가능합니다.')">홈</a>
            {% endif %}
        </div>
        <div style="text-align: right">
            {% if request.user.is_authenticated %}
            <a href ="{% url 'signup' %}"><button>회원가입</button></a>
                <form action="{%  url 'logout' %}" method="POST" style="display: inline">
                    {% csrf_token %}
                    <button>로그아웃</button>
                </form>
                {{ request.user.username }}

            {% else %}
             <a href="{%  url 'login' %}"><button>로그인</button></a>
            {% endif %}
        </div>
    </nav>
    {% block content %}{% endblock %}

</body>
</html>