{% extends 'base.html' %}
{% block title %}Todo List{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
    <h1>{{ request.user.username }}'s Todo List</h1>
    <a href= "{% url 'todo_create' %}"><button>추가</button></a>
    <form method="GET">
        <label>
            <input type="text" name="q" placeholder="검색어 입력" value="{{ request.GET.q }}">
        </label>
        <button type="submit">검색</button>
    </form>

     <ul>
        {% for todo in page_obj %}
          <li><a href="{% url 'todo_info' todo.id %}">{{ todo.title }}</a></li>
        {% empty %}
        <li>할 일이 없습니다.</li>
        {% endfor %}
     </ul>
        <!-- 페이지 처리 -->
     <div>
        {% if page_obj.has_previous %} {# 이전 페이지 있을 때 만 표시 #}
            <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo 처음</a>
            <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">이전</a>
        {% endif %}

        {# 현재 페이지의 근처 번호 #}
        {% if page_obj.number|add:-3 > 1 %}
            <a href="?page={{ page_obj.number|add:-3 }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&hellip;</a>
        {% endif %}
        {# 각 페이지 번호 링크 출력 #}
        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %} {# 현재 페이지 #}
                <span><strong>{{ i }}</strong></span>
            {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                {# 검색한 페이지의 번호만 #}
                <a href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
            {% endif %}
        {% endfor %}
        {# 마지막 페이지, #}
        {% if page_obj.paginator.num_pages > page_obj.number|add:2 %}
            <a href="?page={{ page_obj.number|add:3 }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&hellip;</a>
        {% endif %}
        {# 다음페이지 있는 경우 #}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">다음</a>
            <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">마지막&raquo;</a>
        {% endif %}
    </div>
    {%endif %}
{% endblock %}