{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Todo List Sign Up</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
</head>

<body class="container d-flex justify-content-center align-items-center vh-80">
    <div class="card p-4 shadow-sm mt-5" style="width: 400px;">
        <h2 class="text-center mb-3">📝 회원가입</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-success w-100">회원가입</button>
        </form>
        <hr>
        <p class="text-center">
            이미 계정이 있나요? <a href="{% url 'cbv_login' %}" class="text-decoration-none">로그인</a>
        </p>
    </div>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>
</html>